<div class="Landing_Page_Container">
    <div class="Landing_Page_Section">
        <div class="Landing_Page_Title">
            <h1 class="Landing_Page_Header"> Made Your Recipes simple & deliciously </h1>

        </div>

        <div class="Landing_Page_Search_Section">
            <div class="Landing_Page_Search_Container">
                <input type="text" class="Landing_Page_Search" name="search" placeholder="What you're looking for"
                    required>
                <button type="submit" class="Landing_Page_Search_Button"><img src="../../assets/svg/search-icon.svg"
                        alt="" srcset=""></button>
            </div>


        </div>


    </div>





</div>