<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Mangaement</title>
</head>
<body>
    
    <div class="Navbar_sidenav">
        <img src="../../assets/images/navbrand.png" alt="" routerLink="Home" style="margin-left: 23%;" height="90px" srcset="">
        <a routerLink="Home" class="navbar-brand" style="margin:0;font-size: 20px;">Your Bites</a><hr class="dashed">

        
        <a routerLink="Home"><i class="fa fa-home"aria-hidden="true"></i> Home </a>

        <a routerLink="recipes">  <img src="../../assets/svg/recipe-icon.svg" alt="" height="20px" srcset="">Recipes </a>
        <a routerLink="recipeform"><i class="fa fa-plus-square" aria-hidden="true"></i><br> Add Reciepes</a>
        <a routerLink="login"> <img src="../../assets/svg/user-icon1.svg" alt="" srcset=""height="20px"> Login</a>
    </div>


    

</body>
</html>