<div class="Login_Form_Row">
    <div class="Login_Form_Left_Column">
        <div class="Login_Form_Container">
            <div class="Login_Form_Header">
                <h1>Welcome Crunchies <br> & Login Guys!</h1>
            </div>
            <form #loginform="ngForm" id="loginform" ngNativeValidate class="Login_Form_Section"
                (ngSubmit)="OnSubmit(loginform.value)" action="#" method="POST">

                <div class="Login_Form_Left_Pane">
                    <div class="Login_Form_E-Mail">
                        <label for="E-Mail">E-Mail:</label>
                        <input type="text" name="email" placeholder="Enter Your E-Mail" ngModel required>
                    </div>
                    <br />
                    <div class="Login_Form_Password">
                        <label for="Password">Password:</label>
                        <input type="password" name="password" placeholder="Enter Your Password" ngModel required>
                    </div>
                    <br><br>
                    <button class="Login_Form_Submit_button" type="submit" value="Submit">Submit</button>

                </div>
            </form>

        </div>
    </div>
    <div class="Login_Form_Right_Column">
        <div style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <h2>Click Here to Register New Account.</h2>
        </div>
        <button class="Login_Form_Register_button" (click)="showForm()" type="submit" value="Submit">Register
            Here.</button>
        <div *ngIf="isShow" class="Login_Register_Form_Section" id="Register_Form">
            <form #registerform="ngForm" ngNativeValidate (ngSubmit)="onRegiterFormSubmit(registerform.value)"
                class="Login_Register_Form" action="" method="POST">
                <div class="Login_Register_Form_Username">
                    <label for="name">Name:</label>
                    <input type="text" placeholder="Enter your Name" name="name" ngModel required>
                </div>
                <br />
                <div class="Login_Register_Form_E-Mail">
                    <label for="E-Mail">E-Mail:</label>
                    <input type="text" placeholder="Enter your E-Mail" name="email" ngModel required>
                </div>
                <br />

                <div class="Login_Register_Form_Password">
                    <label for="Password">Password:</label>
                    <input type="text" placeholder="Enter your Password" name="password" ngModel required>
                </div>
                <br>
                <button class="Login_Form_Register_button" type="submit"> Register</button>
            </form>

        </div>

    </div>
</div>